In [21]:
import pandas as pd
import numpy as np 
import csv

In [22]:
nums='_25'

In [23]:
ref_1=pd.read_csv('/data2/yixuan/cfDNA_Decon/UXM_hg38_refs/UXM_hg38_ref'+nums+'.bed',sep='\t')

In [24]:
marker_1=pd.read_csv('/data2/yixuan/cfDNA_Decon/UXM_hg38_refs/WGBS_ref'+nums+'_100markers.bed',sep='\t')

In [25]:
marker_1.head()

   chrom     start       end  tissue number  difference  tissue methylation
0  chr15  40847000  40847499              0    0.284700            0.862403
1  chr11  35005500  35005999              0    0.273140            0.962329
2  chr22  36436000  36436499              0    0.270249            0.821429
3   chr5  51991000  51991499              0    0.269791            0.845238
4  chr11  36327000  36327499              0    0.269442            0.886513

In [26]:
intersection_1 = pd.merge(ref_1, marker_1, on=['chrom', 'start', 'end']).drop(columns=['tissue number','difference','tissue methylation'])

In [27]:
intersection_1

,chrom,start,end,3,4,5,6,7,3.1,4.1,...,3.23,4.23,5.23,6.23,7.23,3.24,4.24,5.24,6.24,7.24
0,chr1,121500,121999,1.0,0.0,0.0,4.0,3.0,3.0,2.0,...,10.0,2.0,1.0,7.0,23.0,1.0,0.0,0.0,2.0,2.0
1,chr1,10538500,10538999,79.0,40.0,33.0,241.0,580.0,79.0,44.0,...,83.0,60.0,57.0,578.0,1998.0,76.0,39.0,31.0,165.0,317.0
2,chr1,12499500,12499999,18.0,21.0,28.0,179.0,696.0,19.5,28.0,...,22.0,60.0,103.0,612.0,2020.0,17.0,17.0,18.0,121.0,450.0
3,chr1,21279500,21279999,471.0,49.0,23.0,101.0,361.0,481.0,72.5,...,565.0,231.0,166.0,648.0,1331.0,460.0,42.0,8.0,25.0,93.0
4,chr1,24720000,24720499,527.0,118.0,61.0,134.0,345.0,532.0,123.0,...,661.0,259.0,212.0,665.0,1443.0,490.0,106.0,46.0,44.0,91.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
332,chr22,25070500,25070999,100.0,26.0,0.0,20.0,57.0,101.5,29.5,...,316.0,68.0,0.0,59.0,108.0,98.0,24.0,0.0,9.0,9.0
333,chr22,36436000,36436499,25.0,22.0,14.0,171.0,279.0,128.5,101.0,...,714.0,246.0,85.0,287.0,337.0,23.0,11.0,8.0,113.0,168.0
334,chr22,38984500,38984999,20.0,18.0,21.0,52.0,114.0,117.5,34.0,...,233.0,86.0,124.0,195.0,285.0,2.0,0.0,14.0,35.0,75.0
335,chr22,38985000,38985499,22.0,9.0,1.0,54.0,168.0,97.5,26.5,...,264.0,81.0,10.0,144.0,326.0,5.0,3.0,0.0,40.0,100.0
336,chr22,46374000,46374499,540.0,157.0,99.0,213.0,518.0,665.5,244.5,...,2404.0,579.0,205.0,390.0,872.0,528.0,133.0,61.0,93.0,176.0

In [28]:
intersection_1.to_csv('/data2/yixuan/cfDNA_Decon/UXM_hg38_refs/UXM_hg38_ref'+nums+'_100m.txt',sep='\t',index=False)